Django==1.9.7
django-crispy-forms==1.6.0
django-datetime-widget==0.9.3
django-filter==0.13.0
djangorestframework==3.3.3
Markdown==2.6.6
Pillow==3.2.0
psycopg2==2.6.1
pytz==2016.4
django-storages==1.4.1
boto==2.41.0
botocore==1.4.34
